{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load url from future %}

{% block body_class %}announcements{% endblock %}

{% block body %}
    <h2 class="page-title">{% if announcement %}{% trans "Edit Announcement" %}{% else %}{% trans "Publish Announcement" %}{% endif %}</h2>
    {% if announcement %}
        {% url "announcement_edit" announcement_id=announcement.pk as post_url %}
    {% else %}
        {% url "announcement_publish" as post_url %}
    {% endif %}

    <form action="{{ post_url }}" method="POST" class="form form-horizontal">
        {% csrf_token %}
        <div><a href="#usage" data-toggle="collapse" data-target=".usage">Usage Notes</a></div>
        <div class="usage collapse">
          <span>+ The 4 audience variables are: public, authenticated users, users, and groups.  These variables are inclusive.  A user only need to be selected by one of the variables for the announcement to be visible.</span>
          <br/></br/>
          <span>+ The 2 scope variables are: Resources and Welcome.  These variables determine where the announcement will be visible.</span>
          <br/><br/>
          <span>+ The 3 mode variables are: page, message, and email.  These variables are inclusive.  These variables determine how the audience will recieve the message, within the bounds of user preferences.</span>
        </div>
        <br>
        {{ form|as_bootstrap }}
        <div class="form-actions">
            <a href="{% url "announcement_list" %}" class="btn">{% trans "Cancel" %}</a>
            {% if announcement %}
                <a href="{% url "announcement_delete" announcement_id=announcement.pk %}" class="btn btn-danger">{% trans "Delete" %}</a>
            {% endif %}
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </div>
    </form>
{% endblock %}
{% block extra_script %}
 {% include 'announcements/announcement_publish_form_js.html' %} 
{% endblock %}
